*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: aquamarine;
}
.container {
    display: flex;
  }
  
  .column {
    flex: 1;
    background-color: #1a5451; 
    border: 1px solid #141212; 
  }
    
  